.open,
.close {
  border: solid 1px var(--gray-25);
}

/* 見出し */
.heading {
  font-size: var(--body);
}

.heading button {
  all: unset;
  outline: revert;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

/* 見出しのアイコン */
.icon {
  color: var(--gray-25);
  font-size: 1.25em;
  transition: transform 0.5s;
}

.open .icon {
  transform: rotate(180deg);
}

/* テキスト */
.text {
  overflow: hidden;
  height: 0px;
  transition: none;
}

.open .text {
  animation: openAnim 0.5s forwards;
}
.close .text {
  animation: closeAnim 0.5s forwards;
}

@keyframes openAnim {
  0% {
    height: 0px;
  }
  99% {
    height: var(--text-height);
  }
  100% {
    height: auto;
  }
}

@keyframes closeAnim {
  0% {
    height: var(--text-height);
  }
  100% {
    height: 0px;
  }
}

.textInner {
  padding: 0 1.14em 1.14em;
  font-size: calc(var(--body) * 0.875);
}
