.flexContainer {
  composes: sideBySideCenter from 'styles/utils.module.css';
}

.text {
  padding-top: calc(var(--display) * 0.5);
  padding-bottom: calc(var(--display) * 0.7);
}

.title {
  font-size: var(--display);
  font-weight: 900;
  letter-spacing: 0.15em;
}

.subtitle {
  font-size: var(--small-heading2);
}

/* image */
.image {
  width: 100%;
}

@media (min-width: 768px) {
  .image {
    width: 50%;
  }
}
