.flexContainer {
  display: flex;
  align-items: baseline;
  gap: 1.25rem;
  color: var(--gray-50);
}

@media (min-width: 768px) {
  .flexContainer {
    flex-direction: column;
  }
}

.heading {
  font-size: var(--small-heading2);
}

.list {
  composes: flexContainer;
  font-size: var(--small-heading3);
  gap: 0.75rem;
}
